@charset "UTF-8";

/* ---------- ブロックの基底要素 ---------- */
html {
    font-size: calc(10 * 100vw / 390);
}

@media (min-width:768px) {
    html {
        font-size: calc(10 * 100vw / 1200);
    }
}

@media (min-width: 1200px) {
    html {
        font-size: 62.5%;
    }
}

body {
    font-family: 'Noto Sans JP', sans-serif;
    font-weight: 400;
    font-size: 1.6rem;
    line-height: 1.75;
    color: #333;
}

a {
    color: #fff;
    text-decoration: none;
}

a,
a:hover {
    transition: all .3s;
}

img {
    max-width: 100%;
    height: auto;
    vertical-align: bottom;
}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
}

/* ---------- ヘッダー ---------- */
.header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: 7rem;
    display: flex;
    justify-content: space-between;
    background-color: #fff;
    box-shadow: 0 0 .625rem 0 rgb(0 0 0 / 20%);
}

@media (min-width:768px) {
    .header {
        height: 10.1rem;
    }
}

@media (min-width: 1200px) {
    .header {
        padding: 0 calc((100vw - 120rem) / 2);
    }
}

/* ロゴ */
.header__logo {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    margin: 1.8rem auto 1.8rem 1.6rem;
    width: 16.6rem;
    font-size: 2.2rem;
    font-weight: 700;
    background-color: #fff;
    line-height: 1;
}

@media (min-width:768px) {
    .header__logo {
        margin: 2.8rem auto 2.8rem 2rem;
        font-size: 3.2rem;
    }
}

/* ハンバーガーボタン */
.header__hamburger-button {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 7rem;
    height: 7rem;
    font-size: 4.6rem;
    color: #fff;
    background-color: #005BAC;
}

@media (min-width: 768px) {
    .header__hamburger-button {
        display: none;
    }
}

.header__hamburger-button i {
    line-height: 0;
}

/* ---------- ハンバーガーメニュー、ヘッダーナビ ---------- */
@media (max-width: 767px) {
    .header__hamburger-menu {
        position: fixed;
        top: 7rem;
        left: 0;
        width: 100%;
        height: calc(100vh - 7rem);
        background-color: #fff;
        transition: all 0.6s;
        transform: translateX(100%);
    }
}

@media (min-width: 768px) {
    .header__hamburger-menu {
        margin: auto 2rem auto auto;
    }
}

/* アクティブ状態 */
.header__hamburger-menu--active {
    transform: translateX(0);
}

/* ナビゲーション */
@media (max-width: 767px) {
    .header__hamburger-menu__list {
        display: table;
        width: 100vw;
        font-size: 1.8rem;
        font-weight: 700;
        border-top: 0.0625rem solid #fff;
        background-color: #005BAC;
    }
}

@media (max-width: 767px) {
    .header__hamburger-menu__list li {
        width: calc(100vw - 4rem);
    }

    .header__hamburger-menu__list li:not(:last-of-type) {
        margin: 2rem 2rem 0 2rem;
        padding-bottom: 2rem;
        border-bottom: 0.1rem solid #fff;
    }

    .header__hamburger-menu__list li:last-child {
        margin: 3.2rem 2rem;
        padding: 2rem 8.5rem;
        border-radius: 3.3rem;
        background-color: #fff;
    }
}

/* 右矢印アイコン */
@media (max-width: 767px) {
    .header__hamburger-menu__list li:not(:last-of-type) a::before {
        font-family: bootstrap-icons;
        content: "\F135";
        font-size: 1.8rem;
        margin-right: 1.2rem;
    }
}

@media (max-width: 767px) {
    .header__hamburger-menu__list a {
        line-height: 1;
    }
}

@media (min-width: 768px) {
    .header__hamburger-menu__list a {
        font-size: 2rem;
        color: #333;
    }

    .header__hamburger-menu__list li:last-of-type a {
        color: #fff;
    }
}

@media (min-width: 768px) {
    .header__hamburger-menu__list a:hover {
        color: #aaa;
    }
}

/* ---------- 部品 ---------- */
/* flexbox */
.flex {
    display: flex;
    align-items: flex-start;
    justify-content: center;
    flex-direction: column;
}

/* Poppinsフォント */
.poppins {
    font-family: "Poppins", sans-serif;
}

@media (min-width: 768px) {
    .flex {
        flex-direction: row;
        column-gap: 4.8rem;
    }
}

/* ボタン */
.button-apply-meeting {
    color: #005BAC;
    font-weight: 700;
}

@media (min-width: 768px) {
    .button-apply-meeting {
        padding: 1.6rem 4.1rem;
        font-size: 2rem;
        background: -moz-linear-gradient(left,
                #0271E0, #53A2F0);
        background: -webkit-linear-gradient(left,
                #0271E0, #53A2F0);
        background: linear-gradient(to right,
                #0271E0, #53A2F0);
        border-radius: 3rem;
    }
}

/* ---------- 選ばれる3つの理由 ---------- */
.reason {
    margin: 2.4rem 1.6rem 3.6rem;
}

@media (min-width: 768px) {
    .reason {
        margin: 7.2rem 2rem;
    }
}

@media (min-width: 1200px) {
    .reason {
        padding: 0 calc((100vw - 120rem) / 2);
    }
}

.reason__title {
    margin: 0 auto 1.7rem;
    font-size: 2.8rem;
    font-weight: 700;
    line-height: calc(2.8/3.6);
    text-align: center
}

.reason__title--emphasis {
    font-size: 4.0rem;
    font-weight: 700;
    color: #F11F8D;
    line-height: 0.9;
}

@media (min-width: 768px) {
    .reason__title {
        margin: 0 auto 3.2rem;
        font-size: 3.6rem;
        font-weight: 700;
        line-height: 1;
        text-align: center
    }

    .reason__title--emphasis {
        font-size: 5.4rem;
        font-weight: 700;
        color: #F11F8D;
        line-height: 1.5;
    }
}

@media (min-width: 768px) {
    .reason__item {
        display: flex;
        flex-direction: row;
        column-gap: 4rem;
        margin-bottom: 4.8rem;
    }
    .point--reverse {
        flex-direction: row-reverse;
    }

    .reason__item:last-child {
        margin-bottom: 0;
    }
}

.point__img {
    width: 100%;
}

@media (min-width: 768px) {
    .point__img {
        width: 56rem;
    }
}

.point__info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
    margin-bottom: 3.6rem;
}

@media (min-width: 768px) {
    .point__info {
        width: 56rem;
        justify-content: flex-start;
    }
}

.point__info__no {
    margin-top: 0.8rem;
    font-size: 2.4rem;
    font-weight: 700;
    font-style: italic;
    color: #F11F8D;
    line-height: 1.5;
}

.point__info__no--emphasis::before {
    font-size: 3.2rem;
    line-height: 1.125;
    content: "\00a0"
}

.point__info__no--emphasis {
    font-size: 3.6rem;
    line-height: 1.0;
}

@media (min-width: 768px) {
    .point__info__no {
        margin-top: 0;
        font-size: 2.8rem;
        font-weight: 700;
        font-style: italic;
        color: #F11F8D;
        line-height: calc(2.8/3.6);
    }

    .point__info__no--emphasis::before {
        font-size: 3.2rem;
        line-height: 1.125;
        content: "\00a0"
    }

    .point__info__no--emphasis {
        font-size: 4.2rem;
        line-height: calc(4.2/3.6);
    }
}

.point__info__summary {
    font-size: 2rem;
    font-weight: 700;
    line-height: 1.8;
}

@media (min-width: 768px) {
    .point__info__summary {
        font-size: 2.4rem;
        line-height: 1.5;
    }
}

#point2 > .point__info > .point__info__summary {
    line-height: 1.4;
}
.point__info__detail {
    margin-top: 1.2rem;
    padding-right: 1.2rem;
    font-size: 1.6rem;
    font-weight: 400;
    line-height: 1.75;
}

@media (min-width: 768px) {
    .point__info__detail {
        margin-top: 2rem;
        padding-right: 0;
        font-size: 1.6rem;
    }
}

/* ---------- 入学説明会に申し込む ---------- */
.inquiry {
    padding: 4rem 1.6rem;
    background-color: rgba(255, 85, 85, 0.1);
}

@media (min-width: 768px) {
    .inquiry {
        flex-direction: column;
        padding-top: 5.6rem;
        padding-bottom: 5.6rem;
        align-items: center;
    }
}

@media (min-width: 1200px) {
    .inquiry {
        padding-left: 0;
        padding-right: 0;
    }
}

.inquiry__text {
    margin-bottom: 1.2rem;
    font-size: 1.6rem;
    line-height: 1.75;
    text-align: center;
}

@media (min-width: 768px) {
    .inquiry__text {
        margin-bottom: 2rem;
        font-size: 1.6rem;
        line-height: 2.625;
        text-align: center;
    }
}

.inquiry__text > span {
    display: inline-block;
}

.inquiry__button-apply-meeting {
    margin: 0 auto;
    padding: 2.0rem 5.2rem;
    font-size: 2rem;
    font-weight: 700;
    color: #fff;
    background: -moz-linear-gradient(left,
            #0271E0, #53A2F0);
    background: -webkit-linear-gradient(left,
            #0271E0, #53A2F0);
    background: linear-gradient(to right,
            #0271E0, #53A2F0);
    border-radius: 3.5rem;
    text-align: center;
}

@media (min-width: 768px) {
    .inquiry__button-apply-meeting {
        padding: 1.9rem 4.9rem 2.1rem 7.1rem;
        font-size: 2.4rem;
        line-height: 1.5;
    }
}

